<div class="container border border-gray-500 rounded m-5">
  <div id="<%= dom_id product %>" class="w-full md:w-1/2 px-4 mx-auto">
    <p class="my-3 md:my-5">
      <strong class="block font-medium mb-1">Name:</strong>
      <%= product.name %>
    </p>

    <p class="my-3 md:my-5">
      <strong class="block font-medium mb-1">Price:</strong>
      <%= product.price %>
    </p>

    <p class="my-3 md:my-5">
      <strong class="block font-medium mb-1">Supplier:</strong>
      <%= product.supplier_id %>
    </p>

    <p class="my-3 md:my-5">
      <strong class="block font-medium mb-1">Quantity:</strong>
      <%= product.quantity %>
    </p>

    <p class="my-3 md:my-5">
      <strong class="block font-medium mb-1">Description:</strong>
      <%= product.description %>
    </p>
          
    <% if action_name != "show" %>
      <%= link_to "Show this product", product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Edit this product", edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium mt-5" %>
      <hr class="mt-4 md:mt-6">
    <% end %>
  </div>
</div>
