<div class="mx-auto md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium text-center" id="notice"><%= notice %></p>
  <% end %>

  <div class="mx-auto bg-white p-8  shadow-md ">
    <%= render @product %>

    <% if current_supplier.id == @product.supplier_id %>
      <div class="flex justify-center mt-6 space-x-8">
        <%= link_to "Editar produto", edit_product_path(@product), class: "rounded-lg py-3 px-5 bg-blue-500 font-medium" %>
        <%= button_to "Deletar produto", product_path(@product), method: :delete, data: { confirm: "Are you sure?" }, class: "rounded-lg py-3 px-5 bg-red-500 font-medium" %>
      </div>
    <% end %>

    <div class="flex justify-center mt-6">
      <%= link_to "Back to products", products_path, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
